* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #C38154;
}

.container {
    width: 100%;
    display: flex;
    max-width: 1000px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login {
    width: 400px;

}

form {
    width: 250px;
    margin-right: 60px auto;
}

h1{
 margin: 20px;
 text-align: center;
 font-weight: bolder;
 text-transform: uppercase;
}

hr{
    border-top: 2px solid #C38154;
}

p {
    text-align: center;
    margin: 10px;
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

/* .madura {
    width: 5%;
    height: 5%;
    float: left;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
} */

.gambar img {
    width: 450px;
    height: 100%;
    border-radius: 15px;
    float: left;
}

input{
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

button{
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #C38154;
}

button:hover {
    background: rgba(214, 86, 64, 1);
}

a{
    text-decoration: none;
    color: black;
}
